<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>WS Composition</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

</head>

<body bgcolor="#ededed">
  <div id="app">
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4" id="submitForm">
          <h5 class="text-white h4">Web service composition</h5>

          <form id="form">
            <div class="form-group">
              <label for="inputsTextArea" class="text-muted">Inputs</label>
              <textarea class="form-control" id="inputsTextArea" rows="3" placeholder="e.g. http://schema.org#City" v-model="inputs"></textarea>

              <label for="outputsTextArea" class="text-muted">Outputs</label>
              <textarea class="form-control" id="outputsTextArea" rows="3" placeholder="e.g. http://schema.org#City" v-model="outputs"></textarea>
            </div>

            <div class="d-flex flex-row">
              <div class="p-2"><button v-on:click="postData" type="button" class="btn btn-outline-light">Compose</button></div>
              <div class="p-2">
                 <div class="dropdown" v-bind:class="{'d-none' : onlyOneCandidate}">
                    <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Candidates <span class="badge badge-light">{{candidates.length}}</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#" v-for="(item,index) in candidates" v-on:click="onCandidateClick(index)">Candidate #{{index}} (score: {{item.score}})</a>
                    </div>
                  </div>
              </div>
              <div class="p-2">
                  <solutionz v-bind:class="[showSuggestions() ? 'visible' : 'd-none' ]" v-bind:viewmodels='suggestions'></solutionz>
              </div>
            </div>
          </form>

        </div>
      </div>
      
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav></div>
      <alert v-bind:error="error"></alert>
      <failedalert></failedalert>
      <div class="progress" v-bind:class="[loading? 'visible' : 'invisible']">
        <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      
<graph/>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>
