<template>
<div role="alert" v-bind:class="[isVisible() ? 'visible' : 'd-none', isFailedCompositionAlert() ? 'alert-info' : 'alert-danger', 'alert']">
  <template v-if="isFailedCompositionAlert()">
        Requested composition is <strong>not possible</strong>. See suggestions for missing links below. 
  </template>
  <template v-else>
        <strong>Oops!</strong> Something went wrong ...
  </template>
</div>
</template>
<script>
export default {
    props:{
        error:{
            default: "none",
            type: String
        }
    },
    methods:{
        isVisible: function(){
            return this.error != "none"
        },
        isFailedCompositionAlert: function(){
            return this.error == "failed-composition"
        }
    }
}
</script>
