<template>
    <div class="alert alert-info" role="alert" v-bind:class="[visible? 'visible' : 'd-none']">
        Requested composition is <strong>not possible</strong>. See missing links below. 
    </div>
</template>
<script>
export default {
    props: {
        visible:{
            type: Boolean, 
            default: false
        }
    }
}
</script>

