<template>
    <div class ="row">
    <div class="custom-file">
    <input type="file" ref="file" class="custom-file-input" id="customFile" @change="onFileChanged">
    <label class="custom-file-label" for="customFile">Choose file</label>
</div>
    <button type="button" v-on:click="onFileSubmit"  class="btn btn-outline-light row col-md-auto">Upload file</button>
</div>
</template>
<script>
import axios from 'axios'
import {GET_GRAPH_URL, ADD_SWAGGER_URL} from './config.js'

export default {
    data: function(){
        return {
            file:''
        }
    },
    methods:{
        onFileChanged: function(){
             this.file = this.$refs.file.files[0]
        },
        onFileSubmit: function(){
            var formData = new FormData()
            formData.append('file', this.file)
            axios.post(ADD_SWAGGER_URL, formData, {
                headers:{
                    'Content-Type': 'multipart/form-data'
                }
            }).then(function(response){
                console.log(response)
            }).catch(function(){
                console.log("upload error")
            })
        }
    }
}
</script>
