<template>
    <svg id="svg" width="100%"></svg>
</template>
<script>
import eventbus from './bus.js'
import * as d3 from 'd3'

export default {
    name:'graph',
    mounted: function(){
        this.initSvg()
        var self = this
        eventbus.$on('dataChanged', function(payload){
            self.render(payload)
        })
    },
    methods:{
        render: function(data){
            //var ll = this.parseData(data)
            var nodes = data.nodes //[{name: "A", type:"parameter"}, {name: "B", type:"endpoint"}, {name: "C", type:"parameter"}]
            var links = data.links //[{source: 0, target: 1}, {source: 1, target: 2}]
            
            var svg = d3.select("#svg")
            
            svg.selectAll("g").remove()

            svg.append("svg:defs").selectAll("marker")
                .data(["end"])      // Different link/path types can be defined here
                .enter().append("svg:marker")    // This section adds in the arrows
                    .attr("id", String)
                    .attr("viewBox", "0 -5 10 10")
                    .attr("refX", 25)
                    .attr("refY", 0)
                    .attr("markerWidth", 6)
                    .attr("markerHeight", 6)
                    .attr("orient", "auto")
                    .append("svg:path")
                        .attr("d", "M0,-5L10,0L0,5");

            var simulation = d3.forceSimulation()
                .force("link", d3.forceLink().id(function(d) { return d.index }).distance(120).strength(1))
                .force("collide",d3.forceCollide( function(d){return d.r + 8 }).iterations(8) )
                .force("charge", d3.forceManyBody().strength(-400))
                .force("y", d3.forceY(0))
                .force("x", d3.forceX(0))
                .force("center", d3.forceCenter(window.innerWidth / 2, 650 / 2))
        
            var link = svg.append("g")
                .attr("class", "links")
                .selectAll("line")
                .data(links)
                .enter()
                .append("line")
                .attr("marker-end", "url(#end)")
                .attr("stroke", "black")


            var node = svg.append("g")
                .attr("class", "nodes")
                .selectAll("circle")
                .data(nodes)
                .enter().append("circle")
                .style("fill", function(d){
                    return ((d.type == "endpoint") ? "#ED5E5E" : "#237f9b")
                })
                .attr('stroke', 'black')
                .attr('stroke-width', 1)
                .attr("r", function(d){  
                    return ((d.type == "endpoint") ? 12 : 10)
                 })
                	.call(d3.drag()
		            .on("start", dragstarted)
		            .on("drag", dragged)
                    .on("end", dragended));
    
                function dragstarted() {
                    if (!d3.event.active) simulation.alphaTarget(0.3).restart();
                    d3.event.subject.fx = d3.event.subject.x;
                    d3.event.subject.fy = d3.event.subject.y;
                }

                function dragged() {
                    d3.event.subject.fx = d3.event.x;
                    d3.event.subject.fy = d3.event.y;
                }

                function dragended() {
                    if (!d3.event.active) simulation.alphaTarget(0);
                    d3.event.subject.fx = null;
                    d3.event.subject.fy = null;
                }

        	// function dragstarted(d){
		    //     d3.event.sourceEvent.stopPropagation();
		    //     d3.select(this).classed("dragging", true);
		    //     d.fixed = false;
		    //     d.classed("fixed", false);
            // }
            
            // function dragged(d) {
            //     d3.select(this).attr("cx", d.x = d3.event.x).attr("cy", d.y = d3.event.y);
            //     ticked();
            // }

            // function dragended(d) {
            //     d3.select(this).classed("dragging", false);
            //     d.fixed = true;
            //     d.classed("fixed", true);
            // }
        
            var text = svg.append("g")
                .selectAll("text")
                .data(nodes)
                .enter().append("text")
                .attr("dy", 25)
                .attr("font-family", "sans-serif")
                .attr("font-size", "10pt")
                .text(function(d) { return d.name})
                .attr("text-anchor", "middle")
            
            var ticked = function() {
                link
                    .attr("x1", function(d) { return d.source.x; })
                    .attr("y1", function(d) { return d.source.y; })
                    .attr("x2", function(d) { return d.target.x; })
                    .attr("y2", function(d) { return d.target.y; });
    
                node
                    .attr("cx", function(d) { return d.x; })
                    .attr("cy", function(d) { return d.y; });

                text
	                .attr("x", function(d) { return d.x; })
	                .attr("y", function(d) { return d.y; });
            }  

            simulation
                .nodes(nodes)
                .on("tick", ticked);
    
        simulation.force("link")
            .links(links); 
        },
        initSvg: function(){
            var svg = d3.select('#svg')

            svg.attr('width', '100%')
                .attr('height', 650)
                .attr("transform", "translate("+[0, 0]+")")

            // svg.append("rect")
            //     .attr("width", "100%")
            //     .attr("height", "100%")
            //     .attr("fill", "#ededed")
        },
        parseData: function(data){
            var success = data.success
            if(success){
                var candidates = []
                data.candidates.forEach(function(candidate){
                    var edges = []
                    candidate.edges.forEach(function(edge){

                        var sourceNode = candidate.nodes.findIndex(function(node){
                            return node.id === edge.from
                        })

                        var targetNode = candidate.nodes.findIndex(function(node){
                                return node.id === edge.to
                        })

                        var link = {source: sourceNode,target: targetNode}
                        edges.push(link)
                    })

                    candidates.push({
                        nodes: candidate.nodes,
                        links: edges
                    })
                })
                return candidates
            }else{
                return {}
            }
        }
    }
}
</script>
