<template>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Suggestions
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <template v-for="item in viewmodels">
          <h6 class="dropdown-header" v-if="isHeader(item)">{{ item.text }}</h6>
          <button class="dropdown-item" type="button" v-else v-on:click="onItemClick(item)">{{ item.name }}</button>
      </template>
  </div>
</div>
</template>
<script>
import { Header, Solution, Node, Edge } from './models.js'
import eventbus from './bus.js'
export default {
    props:{
        viewmodels: Array
    },
    methods:{
        isHeader: function(item){
            return item instanceof Header
        },
        onItemClick: function(item){
            eventbus.$emit('dataChanged',item)
        }
    }
}
</script>
